<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>layout Design</title>
</head>
<body>
    <header class="header">
        <div class="contener">        
            <a href="" class="logo">LOGO</a>
            <nav class="navegation">
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </nav>
        </div>
    </header>


<!-- section start  -->
    <section class="sectionHome">
        <div></div>
        <div></div>
    </section>
    <section class="info_service">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </section>
<!-- end section  -->














<!-- start main  -->
    <main class="main_page">
        <div class="article_page">
            <article></article>
            <article></article>
            <article></article>
        </div>
        <div class="aside_page">
            <aside ></aside>
        </div>
    </main>

<!-- end main  -->







<!-- start footer  -->
    <footer class="footer_page">
        <div class="contener_footer">
            <div class="contener_footer_contact">
                <a href="">LOGO</a>
                <p></p>
            </div>
            <div class="contener_footer_info">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="class="contener_footer_About"">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div> 
        </div>
        <div class="footer_Decript">
            <p>Create by Mohamed Akhssasi</p>
            <span><a href="Tomail:Akhssassi@mail.ru">Mohamed@example.com</a></span>
        </div>


    </footer>
    
<!-- end footer  -->
</body>
</html>